{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='success.css') }}">
{% endblock %}
{% block title %}OxyChem - Successfull{% endblock %}

{% block content %}
<div class="container">
  <h1><i class="fa-solid fa-hands-holding-circle"></i> Exam Completed! <i class="fa-solid fa-hand-holding-heart"></i></h1>
  <p>Congratulations! You have successfully submitted your exam.</p>

  {% if score and total %}
    <p><strong>You scored {{ score }} out of {{ total }} in the MCQ section.</strong> If, you answered CQ then keep patience.</p>
  {% endif %}

  <button class="btn" onclick="window.location.href='{{ url_for('class_page') }}'">Go Back to Classes</button>
</div>
{% endblock %}
